# Lab 4. My first data science project

## In this lab you will apply the concepts and techniques developed in sessions 1-6. You are expected to work on the assignments on your own. We recomend hadning in an hour early to aviod any issues with traffic on the ELE.

## You are expected to submit the code developed as well as a brief description of your findings and insights for each assigment. 

## You can do this by creating [markdown cells](https://www.tutorialspoint.com/jupyter/jupyter_notebook_markdown_cells.htm#:~:text=%20Jupyter%20Notebook%20-%20Markdown%20Cells%20%201,To%20attach%20link%20to%20text%2C%20place...%20More%20) in jupyter notebook, and writting in them.

In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [31]:
### Let's load the gapminder dataset
gapminder = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/gapminder.tsv', sep='\t')

In [32]:
gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [33]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

### (1) Use pairplot to visualise the data. Colour code data points by the continent they are from.

### (2) What patterns can you see? Are there any outliars?

### (3) Filter the dataset to find rows in which life GDP per capita is greater than 60,000

### (4) What does this tell us about the data, as seen in the question (1)  pairplot?

### (5) Find the rows in the dataframe with the top 20 life expectancies

### (6) Plot the evolution of life expectancy, population and GDP per capita of Kuwait

### (7) Visualise the distribution of GDP per capita of countries and life expectancy across the dataframe. Use a second graph that includes a linear regression of those variables.

#### Tip: have a look at seaborn-based techniques to represent relationships between two variables.
#### check the following link for alternatives: https://seaborn.pydata.org/tutorial.html

### (8) Visualise the distribution of year and life expectancy across the dataframe. Use a second graph that includes a linear regression of those variables.

### Tip: have a look at seaborn-based techniques to represent relationships between two variables.
### check the following link for alternatives: https://seaborn.pydata.org/tutorial.html

### (9) Use Boxplots or violinplots to visualise the distribution of change in life expectancy from 1952 to 2007.    

Hint tools from lab 6 may be helpful.

### (10) Continue this analysis of the data. Include code cells, their outputs and markdown cells where you write about your findings. What patterns can you observe in the data?